html,
body,
input,
textarea,
select {
    font-size: 1.05em !important;
    font-family: roboto, sans-serif;
}
#decription {
    margin-top: 5%;
    border: 1px solid lightblue;
}
#decription h2 {
    text-decoration: underline;
}
#decription p {
    text-align: left;
    margin-top: 3%;
}
.error-msg {
    font-size: 15px;
    color: red;
}
.has-error {
    border: 1px solid red;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
